/* .sidebarContainer {
    border-right: 4px solid #EDF5FE;
    height: 100%;
    width: 100%;
   
    position: relative;

} */
@media (min-width: 430px) {
    .sidebarContainer {
        border-right: 4px solid #EDF5FE;
        height: 100%;
        width: 100%;       
        position: relative;
    
    }
}


@media (max-width: 430px) {
    .sidebarContainer {
        height: 100px;
    }
}

.labelDiv {
    height: 50px;
    display: grid;
    grid-template-columns: 30% 70%;
    cursor: pointer;
    color: #707070;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: white;
    width: 100%;
    border: none;
}

.labelDiv:hover {
    background-color: #4391ED1A;
    color: #000;
}

.iconContainer {
    margin: auto;
    margin-right: 10px;
}

.brandDiv {
    height: 70px;
    display: grid;
    grid-template-columns: 30% 70%;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    font-family: Poppins, sans-serif;
}

.brandName {
    display: flex;
    align-items: center;
}

.logoutDiv {
    position: absolute;
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: 30% 70%;
    color: #CF3636;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    bottom: 40px;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    border: none;
    background-color: white;
}

.logoutLabelDiv {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}