.heading {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

li {
    list-style-image: url("analystList.svg");

}

.taskItem {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-family: "Poppins", "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mainContent {
    display: grid;
    grid-template-columns: 45% 10% 45%;
}