body {
	margin: 0px;
	height: 100%;
	/* background-color: aqua; */
}

#root {
	margin: 0px;
	height: 100vh;
	background-color: bisque;
}
input[type="checkbox"] {
	cursor: pointer;
  }

  button{
	cursor: pointer;
  }