body {
	margin: 0px;
	height: 100%;
	
}

#root {
	margin: 0px;
	height: 100vh;
	background-color: bisque;
}

input[type="checkbox"] {
	cursor: pointer;
}

button {
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(141, 170, 185, 0.80) transparent;
}

body{
	overflow: hidden;
}